@()

<div id="tree-panel" class="panel panel-default">
    <div class="panel-heading">
        <b>Datasets</b>
        <div class="pull-right">
            @*Collapse all button*@
            <button id="button-collapse-all" class="tree-btn btn btn-xs btn-warning" data-toggle="tooltip" data-placement="right" title="Collapse all">
                <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
            </button>
            @*Expand all button*@
            <button id="button-expand-all" class="tree-btn btn btn-xs btn-warning" data-toggle="tooltip" data-placement="right" title="Expand all">
                <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
            </button>
            @*resfresjh tree button*@
            <button id="refresh-tree" type="button" class="login-event btn btn-info btn-xs" data-toggle="tooltip" data-placement="right" title="Reload tree">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            @*fulscreen tree*@
            <button class="btn-default btn-xs tree-full-screen"><span class="glyphicon glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body panel-body-no-padding" id="tree-panel-body">
        <div id="tree" class="fancytree-colorize-hover fancytree-fade-expander"></div>
    </div>
    <div class="panel-footer">
        <button type="button" class="tree-btn btn btn-primary btn-xs pull-left" data-toggle="modal" data-target="#upload-modal">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            Add
        </button>
        <button id="button-delete-data-set" type="button" class="tree-btn btn btn-danger btn-xs pull-left">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Delete
        </button>

        <button id="button-download-data-set" type="button" class="tree-btn btn btn-success btn-xs pull-left">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            Download
        </button>

        <div class="pull-right">
            <button id="button-ucsc-data-set" type="button" class="tree-btn btn btn-success btn-xs">
                <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                UCSC
            </button>
            <button class="btn-default btn-xs tree-full-screen"><span class="glyphicon glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<div id="upload-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload new data set</h4>
            </div>
            <div class="modal-body">
                <div>@views.html.gmql.gmql_upload()</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>