@()

<form id="file-upload-form" role="form">
    <div class="form-group">
        <label for="file-upload-name">Dataset name:</label>
        <input
        class="form-control"
        name="file-upload-name"
        id="file-upload-name"
        placeholder="Enter dataset name">
    </div>
    <div class="form-group">
        <label for="file-upload-type">File type:</label>
        <span>
            <a target="_blank" href="https://github.com/DEIB-GECO/GMQL-WEB/wiki/file_formats" data-toggle="tooltip" data-placement="right" title="Information about file types"><span class="glyphicon glyphicon-info-sign"></span></a>
        </span>
        <select class="form-control selectpicker" id="file-upload-type" title= "Choose file type">
            <option value="bed">BED6</option>
            <option value="bedGraph">BedGraph</option>
            @*<option value="gtf">gtf</option>*@
            @*<option value="tab">tab</option>*@
            <option value="NarrowPeak">NarrowPeak</option>
            <option value="BroadPeak">BroadPeak</option>
            <option value="vcf">VCF</option>
            <option value="UPLOAD">Custom (GTF or tab-delimited)</option>
        </select>
    </div>
    <div id="file-upload-schema-div" class="form-group">
        <label for="file-upload-schema">Schema file:</label>
        <input type="file"
        name="file-upload-schema"
        id="file-upload-schema"
        class="filestyle"
        data-buttonText="Choose file"
        data-buttonName="btn-primary"
        data-buttonBefore="true"
        data-placeholder="No file"
        data-iconName="glyphicon glyphicon-open-file"
        data-badge="true"
        >
        @*data-badge="true"*@
        @*data-input="false"*@
    </div>
    <div class="form-group">
        <label for="file-upload-files">Files:</label>
        <span>
            <a target="_blank" href="https://github.com/DEIB-GECO/GMQL/wiki/Dataset-structure" data-toggle="tooltip" data-placement="right" title="Information about file preparation"><span class="glyphicon glyphicon-info-sign"></span></a>
        </span>
        <input type="file" multiple
        name="file-upload-files"
        id="file-upload-files"
        class="filestyle"
        data-buttonText="Choose file"
        data-buttonName="btn-primary"
        data-buttonBefore="true"
        data-placeholder="No file"
        data-iconName="glyphicon glyphicon-open-file"
        data-badge="true"
        >
        @*data-badge="true"*@
        @*data-input="false"*@
    </div>
    <div id="file-upload-progress-div" class="form-group">
        <div class="progress">
            <div id="file-upload-progress" class="progress-bar" role="progressbar" >
            </div>
        </div>
    </div>


    <div class="form-group">
        <button type="button" id="file-upload-button" class="btn btn-default">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload
        </button>
    </div>

    <div id="upload_result" class="form-group">
    </div>
</form>