<div id="metadata-search-div" class="panel panel-default">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Metadata browser</h3>
        </div>
        <div class="panel-body">
            <div id="metadata-query-editor" style="height: 30px;"></div>
        </div>
    </div>

    <button id="metadata-add-button" type="button" class="btn btn-primary metadata-button" >
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add new condition
    </button>
    <button id="metadata-test-button" type="button" class="btn btn-primary metadata-button" >
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Test
    </button>
    <button id="metadata-download-button" type="button" class="btn btn-primary metadata-button" >
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Download
    </button>
</div>



