@()


<div class="container">
    <h2>Users</h2>
    <p id="users_description"></p>
    <hr>
    <table id="users_table" class="display DataTable" cellspacing="0" width="100%">

        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</∑th>
                <th>Email</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </tfoot>

    </table>
</div>