@()




    <table id="geco_queries_table" class="display DataTable" cellspacing="0" width="100%">

        <thead>
            <tr>
                <th>Name</th>
                <th>Query</th>
                <th>Group</th>
                <th>Description</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Query</th>
                <th>Group</th>
                <th>Description</th>
            </tr>
        </tfoot>

    </table>

