.btn  {
  margin: 0 3px;
}


body {
  min-height: 200px;
  padding-top: 70px;
}


.navbar-right {
  padding-right: 0px;
}

.multiselect-container {
  label.radio {
    padding-left: 20px;
    input[type="radio"] {
      display: none;
    }
  }
}

.bar {
  height: 18px;
  background: green;
}

.panel-body-no-padding {
  padding: 0;
}

.panel-footer  {
  //padding: 3px 0px;
}

/*BUTTON MARGINS*/
.navbar-btn {
 //TODO check it
}

.metadata-button, .first-drop-down, .second-drop-down, .del-button {
  margin: 5px 10px;

}




.panel-footer .btn-xs,.panel-heading .btn-xs  {
  margin: 0 3px;
}

.metadata-row-div{
  margin-left: 10px;
}


.first-drop-down .dropdown-menu,.second-drop-down .dropdown-menu{
  z-index: 1050;
}


#query-status.btn.disabled, #query-status.btn[disabled], #query-status fieldset[disabled] .btn {
  cursor: pointer;
  filter: alpha(opacity=100);
  /*-webkit-box-shadow: none;
   box-shadow: none;*/
   opacity: 100;
}




.form-group {
  padding: 1px;
}

.form-group {
   margin-bottom: 1px;
}

.col-md-0  {display: none;}

// use in the large modal for metadata
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.datatable-buttons{
  float: left;
}

.datatable-lengths{
  float: right;
}

//metadata result table column selection
div.dt-button-collection{
  width: inherit !important;
  overflow: auto;
  max-height: 500px;
}

a.toggle-vis{
  float: right;
}

#metadata-copy-button {
  line-height: 12px;
  font-size: 8pt;
  margin-top: 40px;
  margin-right: 18px;
  position:absolute;
  top:0;
  right:0;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.bootstrap-touchspin-up, .bootstrap-touchspin-down{
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}