@()(implicit request: play.api.mvc.Request[Any])

<!DOCTYPE html>


<html>
    <head>
        @head("GMQL")
        @*My less*@
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/tree.css")">

    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div>@views.html.gmql.gmql_navbar()</div>
        <div>@views.html.gmql.register_modal()</div>

        Please check the GMQL documentation from <a href="http://www.bioinformatics.deib.polimi.it/genomic_computing/GMQL/doc/GMQL_Complete_Documentation.pdf">GMQL Complete Documentation</a>

    </body>
</html>
