@()(implicit request: play.api.mvc.Request[Any])
<!DOCTYPE html>


<html>
    <head>
        @head("GMQL")
        @*My less*@
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/tree.css")">
    <script src="@routes.Assets.at("javascripts/tree.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/metadata.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/file_upload.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/query.js")" type="text/javascript"></script>
        @if(play.Play.isDev()) {
            <script src="@routes.Assets.at("javascripts/tree_dev.js")" type="text/javascript"></script>
        }
    </head>
    <body>
        <div>@views.html.gmql.gmql_navbar()</div>
        <div>@views.html.gmql.register_modal()</div>

        @*<div class="container">*@
        <div class="row">
            <div  id="col-tree" class="col-md-4">
                <div>@views.html.gmql.gmql_tree()</div>
            </div>
            <div id="col-query" class="col-md-8">
                <div >@views.html.gmql.gmql_query()</div>
            </div>

        </div>
        @*</div>*@

        @*<div class="container">*@
        <div class="row">
            <div class="col-md-4">
                <div>@views.html.gmql.gmql_metadata_search()</div>
            </div>
            <div class="col-md-4">
                <div>@views.html.gmql.gmql_metadata("Sample metadata")</div>
            </div>
            <div id="col-schema" class="col-md-4">
                <div>@views.html.gmql.gmql_schema()</div>
            </div>
        </div>
        @*</div>*@
        @footer()
    </body>
</html>
